iframe {
	border: 0;
}

section>h2 {
	display: none;
}

section {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 0.8em;
}

section>article {
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: repeat(2, 285px);
	column-gap: 10px;
}

article>.details {
	grid-column: 1 / span 2;
	grid-row: 2 / span 1;
}

article>iframe {
	width: 100%;
	height: 100%;
}

.details {
	position: relative;
	padding: 1em;
}

.details>h2 {
	display: inline;
}

.details>b {
	position: absolute;
	right: 0px;
	font-weight: bold;
	font-size: 1.2em;
}

.read_more {
	/* background-color: var(--bg-button); */
	background-color: #366799;
	padding: 0.6em;
	border-radius: 10px;
	transition: all ease-out 0.2s;
}

.read_more:hover {
	border-radius: 0px;
}

.rate_good {
	color: lightgreen;
}

.rate_medium {
	color: yellow;
}

.rate_bad {
	color: red;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	section>article {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(3, 285px);
	}

	article>img {
		justify-self: center;
	}

	article>.details {
		grid-column: auto;
		grid-row: auto;
	}
}

@media only screen and (max-width: 768px) {

	/* Pentru ecranele mici */
	main {
		padding-left: 1em;
	}

	main>section {
		grid-template-columns: auto;
		row-gap: 1em;
	}

	section>article {
		grid-template-columns: auto;
		grid-template-rows: repeat(4, auto);
		row-gap: 1em;
	}

	section>article>img {
		width: 50%;
	}

	article>img {
		justify-self: center;
	}

	article>iframe {
		height: 285px;
	}

	article .details {
		grid-column: auto;
		grid-row: auto;
	}
}