section {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
}
section > article {
  display: grid;
  grid-template-columns: 185px auto;
  grid-template-rows: 300px 200px;
  column-gap: 10px;
}
article > .details {
  grid-column: 1 / span 2;
}
article > iframe {
  width: 100%;
  height: 100%;
}
