<footer>
	<p>Aceste recenzii sunt scrise dintr-o perspectiva proprie</p>
	<p>E-mail: <a href="mailto:annonymous@gmail.com">annonymous@gmail.com</a></p>
	<p class="back_to_top"><a href="#" rel="">Inapoi sus</a></p>
</footer>
