<header>
	<h1>Movie Review</h1>
	<nav>
		<ul>
			<li class="dropdown">
				<a href="/" class="dropdown-btn">Home</a>
				<ul class="dropdown-items">
					<li><a href="latest">Ultimele Filme</a></li>
					<li><a href="top">Cele mai bune filme</a></li>
				</ul>
			</li>
			<li><a href="review">Review-uri</a></li>
			<li><a href="contact">Contact</a></li>
			<li><a href="cauta">Cauta Filme</a></li>
			<% if (!locals.username){ if(locals.error) { %>
			<script>
				alert("Incorrect id/password");
			</script>
			<%} %>
			<li style="align-self: center;">
				<form action="/login" method="POST">
					<input
						type="text"
						name="username"
						id="input_username"
						placeholder="Username"
						style="border: 1px solid white;"
					/>
					<input
						type="password"
						name="parola"
						id="input_password"
						placeholder="Parola"
						style="border: 1px solid white;"
					/>
					<input type="submit" value="Log In" />
				</form>
			</li>
			<% } else {%>
			<li class="logged">
				<span>Hello <%= username %></span>
				<a href="/logout">Sign Out</a>
			</li>
			<% } %>
		</ul>
	</nav>
</header>
