<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Review-uri de filme</title>
		<meta name="keywords" content="file,recenzii,ultimele filme" />
		<meta name="author" content="Horjea Cosmin" />
		<meta
			name="description"
			content="Site cu review-uri personale adresate ultimelor filme aparute"
		/>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<%- include("../fragmente/header") %>

		<main style="color: white; z-index: 12;">
			<section style="text-align: center;">
				<h1 style="font-size: 3em; letter-spacing: 0.3em;">404</h1>
				<h2>Am cautat prin toate filmele, dar tot nu am gasit ce cauti</h2>
				<img src="imgs/404.gif" alt="" />
			</section>
		</main>
		<%- include("../fragmente/footer") %>

		<script src="js/script.js"></script>
	</body>
</html>
