<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Review-uri de filme</title>
		<meta name="keywords" content="file,recenzii,ultimele filme" />
		<meta name="author" content="Horjea Cosmin" />
		<meta
			name="description"
			content="Site cu review-uri personale adresate ultimelor filme aparute"
		/>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script src="js/indexPage.js"></script>
	</head>

	<body>
		<%- include("../fragmente/header") %>

		<main>
			<section>
				<h2>Carusel cu posterele filmelor</h2>
				<div class="slider" id="slider_postere">
					
				</div>
			</section>
			<hr />
			<section>
				<h2>Ultimele Review-uri</h2>
				<ul class="review_list" id="review_list">
					
				</ul>
			</section>
		</main>
		<%- include("../fragmente/footer") %>

		<script src="js/script.js"></script>
	</body>
</html>
