<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ultimele Filme</title>
		<meta
			name="keywords"
			content="file,recenzii,ultimele filme, nou in cinema, filme in cinema"
		/>
		<meta name="author" content="Horjea Cosmin" />
		<meta name="description" content="Ultimele filme cu recenzie de pe site" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/latest.css" />
		<script src="js/latests.js"></script>
	</head>

	<body>
		<%- include("../fragmente/header") %>

		<main>
			<section id="latests_container">
				<h2>Review-uri</h2>
				
			</section>
		</main>
		<%- include("../fragmente/footer") %>

		<script src="js/script.js"></script>
	</body>
</html>
