<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quiz cinematografie</title>
		<meta
			name="keywords"
			content="file,recenzii,ultimele filme, review {nume film},nota 10, filme de nota 10"
		/>
		<meta name="author" content="Horjea Cosmin" />
		<meta name="description" content="{Nume film} nota : 7/10 Lorem ipsum" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/review.css" />
		<script src="js/quiz.js"></script>
	</head>

	<body>
		<%- include("../fragmente/header") %>

		<main>
			<section>
				<h2>Quiz cinematografie</h2>
				<div id="quizContainer"></div>
			</section>
		</main>

		<%- include("../fragmente/footer") %>

		<script src="js/script.js"></script>
	</body>
</html>
