<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Nume Film</title>
		<meta
			name="keywords"
			content="file,recenzii,ultimele filme, review {nume film},nota 10, filme de nota 10"
		/>
		<meta name="author" content="Horjea Cosmin" />
		<meta name="description" content="{Nume film} nota : 7/10 Lorem ipsum" />
		<link rel="stylesheet" href="./../css/style.css" />
		<link rel="stylesheet" href="./../css/review.css" />
		<script src="./../js/review.js"></script>
	</head>

	<body>
		<%- include("../fragmente/header") %>

		<main>
			<section>
				<h2>Titlu</h2>
				<article>
					<img
						src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/6ApDtO7xaWAfPqfi2IARXIzj8QS.jpg"
						alt="movie_poster"
					/>
					<div class="desc">
						<h3>Ford v. Ferrari</h3>
						<b>9.5/10</b>
						<span id="actors">Actori:</span><br />
						<span id="isPG">Este PG:</span>
						<div class="text">
							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni
								odio laudantium quia facilis magnam possimus quisquam veritatis
								ducimus. Repudiandae illo alias nostrum at eligendi vel veniam
								expedita maiores minima laudantium! Lorem ipsum dolor, sit amet
								consectetur adipisicing elit. Magni odio laudantium quia facilis
								magnam possimus quisquam veritatis ducimus. Repudiandae illo
								alias nostrum at eligendi vel veniam expedita maiores minima
								laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
								elit. Magni odio laudantium quia facilis magnam possimus
								quisquam veritatis ducimus. Repudiandae illo alias nostrum at
								eligendi vel veniam expedita maiores minima laudantium!
							</p>
							<p>
								magnam possimus quisquam veritatis ducimus. Repudiandae illo
								alias nostrum at eligendi vel Lorem ipsum dolor, sit amet
								consectetur adipisicing elit. Magni odio laudantium quia facilis
								magnam possimus quisquam veritatis ducimus. Repudiandae illo
								alias nostrum at eligendi vel veniam expedita maiores minima
								laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
								elit. Magni odio laudantium quia facilis magnam possimus
								quisquam veritatis ducimus. Repudiandae illo alias nostrum at
								eligendi vel veniam expedita maiores minima laudantium! Lorem
								ipsum dolor, sit amet consectetur adipisicing elit. Magni odio
								laudantium quia facilis Lorem ipsum dolor, sit amet consectetur
								adipisicing elit. Magni odio laudantium quia facilis magnam
								possimus quisquam veritatis ducimus. Repudiandae illo alias
								nostrum at eligendi vel veniam expedita maiores minima
								laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
								elit. Magni odio laudantium quia facilis magnam possimus
								quisquam veritatis ducimus. Repudiandae illo alias nostrum at
								eligendi vel veniam expedita maiores minima laudantium! Lorem
								ipsum dolor, sit amet consectetur adipisicing elit. Magni odio
								laudantium quia facilis veniam expedita maiores minima
								laudantium!
							</p>
							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni
								odio laudantium quia facilis magnam possimus quisquam veritatis
								ducimus. Repudiandae illo alias nostrum at eligendi vel veniam
								expedita maiores minima laudantium! Lorem ipsum dolor, sit amet
								consectetur adipisicing elit. Magni odio laudantium quia facilis
								magnam possimus quisquam veritatis ducimus. Repudiandae illo
								alias nostrum at eligendi vel veniam expedita maiores minima
								laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
								elit. Magni odio laudantium quia facilis magnam possimus
								quisquam veritatis ducimus. Repudiandae illo alias nostrum at
								eligendi vel veniam expedita maiores minima laudantium!
							</p>
							<img
								src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/n3UanIvmnBlH531pykuzNs4LbH6.jpg"
								alt=""
							/>
							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni
								odio laudantium quia facilis magnam possimus quisquam veritatis
								ducimus. Repudiandae illo alias nostrum at eligendi vel veniam
								expedita maiores minima laudantium! Lorem ipsum dolor, sit amet
								consectetur adipisicing elit. Magni odio laudantium quia facilis
								magnam possimus quisquam veritatis ducimus. Repudiandae illo
								alias nostrum at eligendi vel veniam expedita maiores minima
								laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
								elit. Magni odio laudantium quia facilis magnam possimus
								quisquam veritatis ducimus. Repudiandae illo alias nostrum at
								eligendi vel veniam expedita maiores minima laudantium! Lorem
								ipsum dolor, sit amet consectetur adipisicing elit. Magni odio
								laudantium quia facilis magnam possimus quisquam veritatis
								ducimus. Repudiandae illo alias nostrum at eligendi vel veniam
								expedita maiores minima laudantium! Lorem ipsum dolor, sit amet
								consectetur adipisicing elit. Magni odio laudantium quia facilis
								magnam possimus quisquam veritatis ducimus. Repudiandae illo
								alias nostrum at eligendi vel veniam expedita maiores minima
								laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
								elit. Magni odio laudantium quia facilis magnam possimus
								quisquam veritatis ducimus. Repudiandae illo alias nostrum at
								eligendi vel veniam expedita maiores minima laudantium! Lorem
								ipsum dolor, sit amet consectetur adipisicing elit. Magni odio
								laudantium quia facilis magnam possimus quisquam veritatis
								ducimus. Repudiandae illo alias nostrum at eligendi vel veniam
								expedita maiores minima laudantium! Lorem ipsum dolor, sit amet
								consectetur adipisicing elit. Magni odio laudantium quia facilis
								magnam possimus quisquam veritatis ducimus. Repudiandae illo
								alias nostrum at eligendi vel veniam expedita maiores minima
								laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
								elit. Magni odio laudantium quia facilis magnam possimus
								quisquam veritatis ducimus. Repudiandae illo alias nostrum at
								eligendi vel veniam expedita maiores minima laudantium!
							</p>

							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni
								odio laudantium quia facilis magnam possimus quisquam veritatis
								ducimus. Repudiandae illo alias nostrum at eligendi vel veniam
								expedita maiores minima laudantium! Lorem ipsum dolor, sit amet
								consectetur adipisicing elit. Magni odio laudantium quia facilis
								magnam possimus quisquam veritatis ducimus. Repudiandae illo
								alias nostrum at eligendi vel veniam expedita maiores minima
								laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
								elit. Magni odio laudantium quia facilis magnam possimus
								quisquam veritatis ducimus. Repudiandae illo alias nostrum at
								eligendi vel veniam expedita maiores minima laudantium!
							</p>
						</div>
					</div>
				</article>
			</section>
			<section>
				<h2>Alte filme</h2>
				<div id="container_otherMovies"></div>
			</section>
			<section>
				<h2>Comentarii</h2>

				<article>
					<h3>Scrieti un comentariu</h3>
					<form
						action="/comentarii"
						class="text_area_comment"
						id="commentForm"
						method="POST"
					>
						<% if (locals.username){ %>
						<input
							type="text"
							name="username"
							id="name_input"
							placeholder="Numele"
							required
						/>
						<br /><br />
						<textarea
							name="textarea_comment"
							id="comment_area"
							placeholder="Scrie un comentariu..."
							required
						></textarea>
						<br />
						<button>Comenteaza</button>
						<% } %>
					</form>
				</article>

				<br />
				<button onclick="toggleComments()" id="toggleBtn">
					Ascunde comentarii
				</button>
				<ul class="comments" id="comments_area"></ul>
			</section>
		</main>

		<%- include("../fragmente/footer") %>

		<script src="../js/script.js"></script>
	</body>
</html>
