<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Top Filme</title>
		<meta
			name="keywords"
			content="file,recenzii,ultimele filme,cele mai bune filme, filme bune, filme de Oscar"
		/>
		<meta name="author" content="Horjea Cosmin" />
		<meta
			name="description"
			content="Topul filmelor cu cele mai bune recenzii"
		/>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/top.css" />
		<script src="js/ejs.min.js"></script>
		<script src="js/top.js"></script>
	</head>

	<body>
		<%- include("../fragmente/header") %>

		<main>
			<section>
				<table>
					<thead>
						<tr>
							<th>Poster</th>
							<th>Loc</th>
							<th>Nume</th>
							<th>Nota</th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</section>
		</main>
		<%- include("../fragmente/footer") %>
		<script src="js/script.js"></script>
	</body>
</html>
